# NOTE: Sensitive env variables from previous commits were not real. 
#       They were old keys that were cycled out early in production.
#       Their purpose were to be used as examples.
PORT=
NODE_ENV=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
